[Unit]
Description=Nuclei Control Panel
After=network.target

[Service]
User=root
WorkingDirectory=/root/nuclei-panel
EnvironmentFile=/root/nuclei-panel/.env
ExecStart=/root/nuclei-panel/venv/bin/python3 -u /root/nuclei-panel/app.py
Restart=always
RestartSec=5
KillMode=process
Environment=PYTHONUNBUFFERED=1
Environment=GOROOT=/usr/lib/go-1.26
Environment=GOPATH=/root/go
Environment=PATH=/usr/lib/go-1.26/bin:/root/go/bin:/root/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

[Install]
WantedBy=multi-user.target
